
.popup {
  position: fixed;
  top: 10px;
  bottom: 10px;
  left: 5px;
  right: 5px;
  border-radius: 20px;
  

  background: white;
  overflow-x: hidden;
  border-width: 10px;
}

.popup_inner {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.popup a {
  padding: 10px;
}
